@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the Website for the <a href="https://www.faulknercounty.org/government/courts/2nd-div-circuit/juvenile-probation">Falkner County Juvenile Courts yearly Report</a>.</p>
</div>
