@page
@model FalknerCountyJuvenileCourt.Pages.Offenses.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div id=bottom>
    Here you are able to create a new offense to assigned to a juvenile in the crimes table.
</div>

<h1>Create</h1>

<h4>Offense</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Offense.Name" class="control-label"></label>
                <input asp-for="Offense.Name" class="form-control" />
                <span asp-validation-for="Offense.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
