/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
* {
  font-family: 'Roboto Slab', serif;;
  font-size: 18px;  
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  
}

a {
  color: white;
  
}

.btn-primary {
  color: #fff;
  border-color: black;
  outline: 2px solid black;
  border-radius: .25rem;
  text-decoration: none;
  font-size: 1rem;
  width: fit-content;
  height: fit-content;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #1b6ec2;
}

.border-top {
  border-top: 1px solid #885/*#e5e5e5*/;
}
.border-bottom {
  border-bottom: 1px solid #885;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

