@page
@model IndexModel
@{
    ViewData["Title"] = "Tables";
}

<head>
    <style>
    #tableCon{
        text-align: center;
        width: 600px;
    }
    </style>
</head>
<body>
  <div class="container" id="tableCon">
    <H1>Table Hub</H1>

    <p>
      Below are buttons that link to tables that populate the database. When adding to these tables you are then able to select
      that newly created entry when creating a new juvenile or crime depending on which table you added to. 
    </p>
    
    
   <h2 class="display-8"><a id="tableB" href="/Offenses/Index" class="btn btn-link" role="button">Offenses</a></h2>
   <h2 class="display-8"><a id="tableB" href="/Schools/Index" class="btn btn-link" role="button">Schools</a></h2>
   <h2 class="display-8"><a id="tableB" href="/IntakeDecisions/Index" class="btn btn-link" role="button">Intake Decisions</a></h2>
   <h2 class="display-8"><a id="tableB" href="/FilingDecisions/Index" class="btn btn-link" role="button">Filing Decisions</a></h2>
   <h2 class="display-8"><a id="tableB" href="/Races/Index" class="btn btn-link" role="button">Races</a></h2>
   <h2 class="display-8"><a id="tableB" href="/Genders/Index" class="btn btn-link" role="button">Genders</a></h2>
   </div>

  </body>



