@page
@model IndexModel
@{
    ViewData["Title"] = "Tables";
}

<head>
    <style>
    #tableCon{
        text-align: center;
        width: 600px;
    }
    </style>
</head>
<body>
  <div class="container" id="tableCon">
    <H1>Table Hub</H1>

    <p>
      Below you can find the links to important tables that help the database run. In each table you are able to edit, add, and remove objects as you please. 
    Adding to one these tables allowes you to edit or add a juvenile with that new attribute.
    </p>
    
    
   <h2 class="display-8"><a id="tableB" href="/Offenses/Index" class="btn btn-link" role="button">Offenses</a></h2>
   <h2 class="display-8"><a id="tableB" href="/Schools/Index" class="btn btn-link" role="button">Schools</a></h2>
   <h2 class="display-8"><a id="tableB" href="/IntakeDecisions/Index" class="btn btn-link" role="button">Intake Decisions</a></h2>
   <h2 class="display-8"><a id="tableB" href="/FilingDecisions/Index" class="btn btn-link" role="button">Filing Decisions</a></h2>
   <h2 class="display-8"><a id="tableB" href="/Races/Index" class="btn btn-link" role="button">Races</a></h2>
   <h2 class="display-8"><a id="tableB" href="/Genders/Index" class="btn btn-link" role="button">Genders</a></h2>
   </div>

  </body>



