@page
@model IndexModel
@{
    ViewData["Title"] = "Tables";
}

<div class="text-center">
   <h1 class="display-8"><a asp-area="" asp-page="/Offenses/Index">Offenses</a></h1>
   <h1 class="display-8"><a asp-area="" asp-page="/Schools/Index">Schools</a></h1>
   <h1 class="display-8"><a asp-area="" asp-page="/IntakeDecisions/Index">Intake Decisions</a></h1>
   <h1 class="display-8"><a asp-area="" asp-page="/FilingDecisions/Index">Filing Decisions</a></h1>
   <h1 class="display-8"><a asp-area="" asp-page="/Races/Index">Races</a></h1>
   <h1 class="display-8"><a asp-area="" asp-page="/Genders/Index">Genders</a></h1>
</div>
