@page
@model FalknerCountyJuvenileCourt.Pages.IntakeDecisions.EditModel

@{
    ViewData["Title"] = "Edit";
}



<h1>Edit</h1>

<h4>Intake Decision</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IntakeDecision.ID" />
            <div class="form-group">
                <label asp-for="IntakeDecision" class="control-label"></label>
                <input asp-for="IntakeDecision.Name" class="form-control" />
                <span asp-validation-for="IntakeDecision.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a id="Back_To_List" asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
