@page
@model FalknerCountyJuvenileCourt.Pages.IntakeDecisions.IndexModel

@{
    ViewData["Title"] = "Intake Decisions";
}

<div id=bottom>
    Here you are able to view the current intake decisions that can be assigned.
</div>

<h1>Intake Decisions</h1>

<p>
    <a id="Cbtn" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IntakeDecisions)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.IntakeDecisions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a id="EDbtn" asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a id="EDbtn" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
