@page
@model FalknerCountyJuvenileCourt.Pages.Genders.IndexModel

@{
    ViewData["Title"] = "Genders";
}
<head>
    <style>
        #bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: white;
      text-align: center;
      padding: 10px 0;
      line-height: 43px;
    }
    </style>
</head>
<div id=bottom>
    Here you are able to view the possible genders that can be assigned to a juvenile.
</div>

<h1>Genders</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Genders)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Genders) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
